/* BOARD COMMON */
.privacy-info {padding:0px;}
.privacy-info ul{margin:0;padding:0}
.privacy-info ul li {list-style:disk;display:inherit;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABiSURBVHjaYvz//z8DLQETA43BqAWjFoxawMDAQqzC+fMPNwCpeii3MTHRtoHaPqi3s9NkAGEki6jnAxD48OEbw8ePX2gWB42XLj1kePjwLZhNrCbG0dJ01IJRC4aBBQABBgA7nxlX5IFQUQAAAABJRU5ErkJggg==) -10px -2px no-repeat;padding-left:10px;}
.p-info-title{color:#4f4a3f;font-weight:bold;}
.p-info-dscr{color:#939393;}
.sub-wrap {padding:0 15px;}
.btn{border-radius:5px;height:32px;width:70px;font-size:.9em}
.action-btn {border:1px solid #575757; background:#575757; color:#ffffff;}
.btn-wrap{margin:20px 0 30px;}
.btn-wrap:after{display:table;content:"";}
.btn-wrap:after{clear:both;}
.cancel-btn{border:1px solid #909090;background:#cecece;color:#000;}

/* BOARD LIST */
.sub-contents-wrap{border-top:4px solid #bdbdbd;border-bottom:4px solid #bdbdbd;}
#search-wrap {padding-bottom:7px;}
.sub-btn{width: 70px;height: 32px;background: #7c7c7c;color: #fff;border: 1px solid #6e6e6e;border-radius:5px;font-size:.9em;}
.list-wrap{padding:10px; /*color:#000;*/
}
.list-wrap + .list-wrap{border-top:1px solid #c9c9c9;}
.list-wrap:after{display:table;content:"";}
.list-wrap:after{clear:both;}
.secret-icon {max-width:16px; padding-left: 5px;margin-top: -7px;}
.post-writer{padding-top:5px;display:block;font-size:.8em;color: #939393;}

/* BOARD LIST - PAGENATION */
#page-wrap{text-align:center;padding-top: 20px;}
.page-nav {border-radius: 3px;text-align: center;border: 1px solid #c5c5c5;padding: 5px 10px;font-weight:bold;}
.curr-page{background:#6b9a00;color:#fff;border:1px solid #618b00;}
.page-nav + .page-nav{margin-left:5px;}

/* BOARD WRITE */
.input-field {margin-top:10px;}
.input-field ._text{width:100%;}
.input-field #terms_confirm{margin-bottom:10px;}

/* BOARD VIEW */
.post-title-wrap {padding:10px;border-bottom: 1px solid #cecece;}
.post-title{font-weight:bold;width:80%;overflow:hidden;}
.post-content-wrap{padding:10px;border-bottom: 1px solid #cecece;min-height:200px;}
.link-wrap{padding:10px 0 40px;border-bottom: 2px solid #cecece;}
.link-wrap:after{display: table;content:"";}
.link-wrap:after{clear:both;}
.reply-reg-wrap{padding-bottom:10px;border-bottom: 1px solid #cecece;}
.reply-reg-wrap:after{display: table;content:"";}
.reply-reg-wrap:after{clear:both;}
.reply-list {padding:10px;}
.mr10{margin-right:5px;}
#reply_post{margin-top:10px;}
#passwd{width:100px;}




