<!-- 상단 영역 -->
<header class="navbar" role="navigation">
    <div class="container">
        <!-- 상단 홈/로고/전화 영역 -->
        <div class="navbar-header">
            <img src="assets/images/icon_menu.png" class="icon-top icon-menu" alt="메뉴선택" />
            <img src="assets/images/icon_home.png" id="tpl_main" class="icon-top icon-home" alt="홈으로가기" hidden>
            <a href="{{ site.baseurl }}/"><img src="assets/images/logo.png" id="tpl_main" class="navbar-brand" rel="home" alt="로고"></a>
            <img src="assets/images/icon_tel.png" id="tpl_phone_tel" class="icon-top icon-phone" alt="전화걸기">
        </div>
        <!-- //상단 홈/로고/전화 영역 -->

        <!-- 메뉴 영역 -->
        <nav id="menu-wrap" hidden>
            <ul class="navbar-nav">
                <li><a href="sub1.html"><span class='navi-title' data-val='1'>본원 소개</span></a></li>
                <li><a href="sub2.html"><span class='navi-title' data-val='2'>의료진 소개</span></a></li>
                <li><a href="sub3.html"><span class='navi-title' data-val='3'>진료 안내</span></a></li>
                <li><a href="sub4.html"><span class='navi-title' data-val='4'>검사 안내</span></a></li>
                <li><a href="sub5.html"><span class='navi-title' data-val='5'>오시는 길</span></a></li>
            </ul>
        </nav>
        <!-- //메뉴 영역 -->
    </div>
</header>