<div class='snsbtn-wrap-width'>
    <section id='snsbtn-wrap-bg'>
        <nav id='snsbtn-wrap'>
            <ul class='snsbtn'>
                <li class='snsbtn-list'><a href='http://blog.naver.com/gshongmun' target='_blank'><img
                            src='assets/images/blog_icon.png' class='snsImg'></a></li>
                <li class='snsbtn-list'><a href='http://pf.kakao.com/_HQQbG' target='_blank'><img
                            src='assets/images/talk_icon.png' class='snsImg'></a></li>
                <li class='snsbtn-list'><a href='http://www.instagram.com/gshongmun' target='_blank'><img
                            src='assets/images/instagram_icon.png' class='snsImg'></a></li>
                <li class='snsbtn-list'><a href='http://www.facebook.com/gshongmun' target='_blank'><img
                            src='assets/images/face_icon.png' class='snsImg'></a></li>
            </ul>
        </nav>
    </section>
</div>
