/* newpop.css */
/* Pop-up Modal Overlay */
.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to ensure it's on top */
  overflow-y: auto; /* Allows page scrolling */
}

/* Pop-up Content Box */
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px; /* Fixed width */
  height: 560px; /* Fixed height */
  max-width: 96%; /* Ensures some margin on small screens */
  position: relative; /* For close button absolute positioning */
  display: flex;
  flex-direction: column;
}

/* Pop-up Image */
.popup-image {
  width: 100%; /* Full width of the popup */
  height: auto;
  object-fit: cover; /* Ensures the image covers the area */
}

/* Pop-up Options and Close Button */
.popup-options {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Pushes the options to the bottom */
  align-items: center;
}

.no-show-label {
  display: flex;
  align-items: center;
}

.close-btn {
  border: none;
  background: #333;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
}

/* Responsive adjustments for mobile */
@media (max-width: 480px) {
  .popup-content {
    width: 90%;
    height: auto;
  }
}
