
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px; /* Max width of the modal content to fit the image */
}

.modal-body img {
  width: 400px; /* Fixed width for the image */
  height: 560px; /* Fixed height for the image */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  text-align: right;
}

.modal-footer label {
  float: left;
}

.modal-footer button {
  padding: 10px 20px;
  cursor: pointer;
}
