@charset "utf-8";
/**************************************************************************************************
 * 2014-06-26 gue : popup
 **************************************************************************************************/

#inPopup {
/*	position: relative;*/
/*	position: absolute;*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background: rgba(255, 255, 255, 1);
	display: none;
	line-height: 14px;
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	font-family: "돋움", Dotum, AppleGothic, sans-serif;
}

#inpipup ul li {
	display: list-item;
	list-style: none;
}
#inpipup ul, #inpipup ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

#inPopup input, #inPopup select, #inPopup button, #inPopup textarea {
	vertical-align: inherit;
	font-family: "돋움", dotum, "굴림", gulim, sans-serif;
	font-size: 14px;
	border-radius: 0px;
}

#inPopup .inPopupWrap {
/*	position: relative;*/
	min-width: 310px;
	max-width: 690px;
	margin: 1% auto;
	width : 95%;
/*	height: 97%;*/
	padding: 10px 3px;
	border: 1px solid rgb(105, 105, 105);
	background: rgb(255, 255, 250);
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;; 
/*	box-sizing: content-box; */
/*	-webkit-box-sizing: content-box;*/
}

#inPopup #closeArea {
/*	position: absolute; */
	min-width: 260px;
	max-width: 640px;
	margin: 1% auto;
/*	margin-top: 85.97000000000003px;*/
	text-align: right;
}

#inPopup .closebt {
	position: absolute;
}

#inPopup .header {
	position: relative;
/*	position: absolute;*/
	right: 5px;
}

#inPopup .header .title {
	float: left;
	font-size: 16px;
	font-weight: bold;
}

#inPopup .header .close {
	float: right;
}

#inPopup .button_r {
	font-family: "돋움", dotum, "굴림", gulim, sans-serif;
	color: #555555;
	padding: 4px 10px;
	float: right;
	margin-right: 10px;
}

#inPopup .button_l {
	font-family: "돋움", dotum, "굴림", gulim, sans-serif;
	color: #555555;
	padding: 4px 10px;
	float: right;
	margin-left: 10px;
}

#inPopup .button {
	font-family: "돋움", dotum, "굴림", gulim, sans-serif;
	color: #555555;
	padding: 4px 10px;
}

#inPopup #inPopupContents {
	padding: 5px;
}

#inPopupContents textarea {
	color: #555555;
	border: 1px solid #d7d7d7;
	text-align: left;
	padding: 2px 2px 2px 2px;
	background-color: #ffffff;
	width: 100%;
	vertical-align: middle;
	resize: none;
	margin: 0px auto;
}
#inPopupContents .text {
	color: #555555;
	border: 1px solid #d7d7d7;
	text-align: left;
	padding: 4px 4px;
	background-color: #ffffff;
	width: 100%;
}

#inPopupContents .button {
	font-family: "돋움", dotum, "굴림", gulim, sans-serif;
	color: #555555;
	padding: 4px 10px;
	margin-right: 10px;
}

#inPopupContents table {
	border-collapse: collapse;
	width: 100%;
	background: transparent;
	max-width: 100%;
	border-spacing: 0;
}

#inPopupContents table tr td, #inPopupContents table tr th{
	margin: 0;
	padding: 5px 5px;
	height: 22px;
	text-align: left;
	line-height: 14px;
	border-bottom: 1px solid #d1d1d1;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#inPopupContents table tr th {
	color: #004571;
}


/**************************************************************************************************
 * loading 
 * 1. html 페이지의 <body> 바로 하단에 <div id="loadingForHttp"></div> 를 선언
 * 2. /images/loading.gif 위치에 로딩 이미지 저장
 * @author gue
 * @since 2013.03.01 : 최초 작성
 * @since 2013.07.25 : id값 수정
 */
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 30000;
	background: rgba(255, 255, 255, 0.5);
	display: none;
}

#loading span {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	background: url(../images/loading.gif) no-repeat;
}